.flex-slaider {
  background-color: #202C75;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #FFFFFF;
}

.flex-slaider__section-title {
  max-width: 303px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin: 0 auto 0 0;
  padding: 0;
}

.flex-slaider__section-description {
  max-width: 620px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 10px auto 0 0;
  padding: 0;
}

.flex-slaider__container {
  margin: 50px auto;
  max-width: 572px;
  height: 422px;
  display: flex;
  flex-direction: row;
  transition: 1.5s;
  justify-content: center;
}

.flex-slaider__slaid {
  flex-basis: 143px;
  border-right: 3px solid #ffffff;
  box-sizing: border-box;
  transition: 1.5s;
  position: relative;
  overflow: hidden;
}

.flex-slaider__container:hover {
  max-width: 906px;
}

.flex-slaider__container:hover .flex-slaider__slaid {
  flex-basis: 94px;
}

.flex-slaider__container:hover .flex-slaider__slaid:hover {
  flex-basis: 625px;
}

.flex-slaider__slaid:hover {
  flex-basis: 625px;
}

.flex-slaider__slaid:last-child {
  border: 0;
}

.flex-slaider__img {
  width: 100%;
  height: 100%;
  object-position: top center;
  object-fit: cover;
}

.flex-slaider__title {
  margin: 0;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  bottom: 61px;
  left: 39px;
  display: none;
  white-space: nowrap;
}

.flex-slaider__description {
  margin: 0;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  bottom: 34px;
  left: 39px;
  display: none;
  white-space: nowrap;
}

.flex-slaider__slaid:hover .flex-slaider__title {
  display: block;
}

.flex-slaider__slaid:hover .flex-slaider__description {
  display: block;
}
